body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    background: linear-gradient(to top, #000, #ce1141);
}

input {
    display: none;
}

img {
    width: 100%;
}

h1 {
    font-size: 26px;
}

h2 {
    margin-top: 65px;
    font-size: 22px;
}

.book {
    display: flex;
}

#cover {
    width: 400px;
    height: 550px;
}

.flip-book {
    width: 400px;
    height: 550px;
    position: relative;
    perspective: 1500px;
}

.flip {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center left;
    transform-style: preserve-3d;
    transition: 0.5s;
    color: #000;

}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;
    padding: 0 13px;

}

#front_image, #back_page_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: rgb(245, 245, 245);
}

.next-btn {
    position: absolute;
    border: 2px solid black;
    border-radius: 10px;
    padding: 4px;
    bottom: 13px;
    right: 13px;
    cursor: pointer;
    color: #000;
}

.back-btn {
    position: absolute;
    border: 2px solid black;
    border-radius: 10px;
    padding: 4px;
    bottom: 13px;
    right: 13px;
    cursor: pointer;
    color: #000;
}

#title {
    position: absolute;
    bottom: 30px;
    left: 150px;
    color: #000;

}

#p1 {
    z-index: 5;
    margin: 5px;
}

#p2 {
    z-index: 4;
    margin: 5px;
}

#p3 {
    z-index: 3;
    margin: 5px;
}

#bio_text_first, #bio_text_third, #bio_text_fifth, #bio_text_seventh{
    color: white;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: absolute;
    top: 30%;
    left: 15;
    font-size: 40px;
  }
#p4 {
    z-index: 2;
    margin: 5px;
}

#p5 {
    z-index: 1;
    margin: 5px;
}

#c1:checked~.flip-book #p1 {
    transform: rotateY(-180deg);
    z-index: 1;
}

#c2:checked~.flip-book #p2 {
    transform: rotateY(-180deg);
    z-index: 2;
}

#c3:checked~.flip-book #p3 {
    transform: rotateY(-180deg);
    z-index: 3;
}

#c4:checked~.flip-book #p4 {
    transform: rotateY(-180deg);
    z-index: 4;
}

#c5:checked~.flip-book #p5 {
    transform: rotateY(-180deg);
    z-index: 5;
}

#c3:checked~.flip-book #p1 {
    display: none;
}

#c4:checked~.flip-book #p2 {
    display: none;
}

#c5:checked~.flip-book #p3 {
    display: none;
}


.bb {
    position: absolute;
    z-index: -1;
    width: 800px;
    height: 550px;
    pointer-events: none;

}

#c1:checked~.bb {
    border: 5px solid rgb(112, 128, 144);
    background-color: white;
}

#c2:checked~.bb {
    border: 5px solid rgb(112, 128, 144);
}

#c3:checked~.bb {
    border: 5px solid rgb(112, 128, 144);
}

#c4:checked~.bb {
    border: 5px solid rgb(112, 128, 144);
}

#c5:checked~.bb {
    border: none;
    background-color: transparent;
}



#first_page, #third_page, #fifth_page, #seventh_page {
    left: 0;
    bottom: 0;
    margin: 0;
    background: linear-gradient(to bottom,  
    white 0%, 
    white 20%, 
                                 red 20%, 
                                 red 100%);
}

#third_page_image, #first_page_image, #seventh_page_img, #fifth_page_image{
    position: absolute;
    object-fit: cover;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
}
#second_page, #fourth_page, #sixth_page, #eighth_page{
    right: 0;
    top: 0;
    margin: 0;
    background: linear-gradient(to bottom,  
    red 0%, 
    red 80%, 
                                 white 80%, 
                                 white 100%);
}
#fourth_page_image, #second_page_image, #sixth_page_image, #eighth_page_image{
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 70%;
    /* other styles as needed */
}

#bio_text_second, #bio_text_fourth, #bio_text_sixth, #bio_text_eighth{
    color: white;
    writing-mode: vertical-rl;
    transform: rotate(360deg);
    position: absolute;
    bottom: 30%;
    left: 350px;
    font-size: 40px;
  }